

h1 {
    font-size: 4rem;
    color: #383838;
    padding: 0%;
    margin-bottom: 0%;

}

body {
    background-color: #f8f8ff;
    color: #383838;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul.custom {
    list-style-type: '> ';
    /* Or any other single character/emoji */

}

ul li::marker {
    color: #5d5d5d;
}

a {
    text-decoration: none;
    color: #2f5fff;
}

p {
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.content {
    max-width: 80%;
}

.face {
    max-width: 60%;
    height: auto;
}

/* Styles applied ONLY on mobile screens (less than 768px wide) */
@media screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 90%;
    }

    .content {
        max-width: 90%;
    }

    .face {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-family: 'alte_haas_groteskbold';
        font-size: 3rem;
        color: #121212;
        padding: 0%;
        margin-bottom: 0%;

    }
}